.lookbook-single .wpbingo-lookbook__contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.lookbook-single .wpbingo-lookbook__contents > div {
    width: 50%;
    padding: 0 15px;
}
.lookbook-single .wpbingo-lookbook__contents .featured-banner {
    max-width: 460px;
}
.lookbook-single .wpbingo-lookbook__contents .content-banner {
    padding-left: 120px;
}
.rtl .lookbook-single .wpbingo-lookbook__contents .content-banner {
    padding: 0 120px 0 0;
}
@media (max-width: 1200px) {
    .lookbook-single .wpbingo-lookbook__contents .content-banner {
        padding-left: 0;
    }
    .rtl .lookbook-single .wpbingo-lookbook__contents .content-banner {
        padding: 0;
    }
}
@media (max-width: 767px) {
    .lookbook-single .wpbingo-lookbook__contents > div {
        width: 100%;
    }
    .lookbook-single .wpbingo-lookbook__contents .col-banner {
        margin-top: 30px;
        position: relative;
    }
}