/* $opacity-to-hex: (
	0: '00',
	0.05: '0C',
	0.1: '19',
	0.15: '26',
	0.2: '33',
	0.25: '3F',
	0.3: '4C',
	0.35: '59',
	0.4: '66',
	0.45: '72',
	0.5: '7F',
	0.55: '8C',
	0.6: '99',
	0.65: 'A5',
	0.7: 'B2',
	0.75: 'BF',
	0.8: 'CC',
	0.85: 'D8',
	0.9: 'E5',
	0.95: 'F2',
	1: 'FF'
); */
body{
	--white: #fff;
    --theme-color:#63512d;
	--theme-color-15:#63512d26;
	--theme-color-25:#63512d3F;
	--theme-color-50:#63512d7F;
	--theme-color-75:#63512dBF;
	
	--hover-color:#63512d;
	--secondary-color:#a0a0a0;
	--text-color:#000000;
	--text-color-50:#0000007F;
	--text-color-75:#000000BF;
	
	--gray-dark-15:#00000026;
	--gray-dark-25:#0000003F;
	--gray-dark:#000000;
	--gray-dark-50:#0000007F;
	--gray-dark-75:#000000BF;
	
	--body-bg-color:#ffffff;
	--border-color:#e5e5e5;
	--border-color-50:#e5e5e57F;
	
	--header-bg-color: #ffffff;
	--footer-color: #000000;
	--footer-color-hover: #63512d;
	--menu-color: #000000;
	--menu-hover-color: #63512d;
	--menu-dropdown-bg: #000000;
	--menu-dropdown-color: #939393;
	--menu-dropdown-hover-color: #63512d;
	
	--font-family-second: Canela Light;
	--heading-font-weight-default: 300;
	--heading-font-weight-bold: 300;
	--heading-font-weight-medium: 300;
	--heading-font-weight-light: 300;
	--font-size-heading: 30px;
	
	--font-family-base: HelveticaNeueLight;
	--body-font-weight-default: 400;
	--body-font-weight-bold: 400;
	--body-font-weight-medium: 400;
	--body-font-weight-light: 400;
	--font-size-base: 14px;

    --font-family-pre: HelveticaNeueMedium;
	--pre-font-weight-default: 500;
	--pre-font-weight-bold: 500;
	--pre-font-weight-medium: 500;
	--pre-font-weight-light: 500;
}