/*=============== SECTION TESTIMONIALS ===========*/

.wpbingo-widget--testimonials .content-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wpbingo-widget--testimonials .content-info .testimonial-card__name {
  padding-right: 8px;
  margin-right: 11px;
  position: relative;
}
.wpbingo-widget--testimonials .content-info .testimonial-card__name:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 1px;
  background-color: var(--text-color);
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
}
.wpbingo-widget--testimonials .slick-dots {
  position: unset;
  display: none !important;
}
.wpbingo-widget--testimonials .content-image {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.wpbingo-widget--testimonials .testimonial-card__rating {
  margin-bottom: 30px;
}
.wpbingo-widget--testimonials .testimonial-card__rating:before, .wpbingo-widget--testimonials .testimonial-card__rating:after {
  display: inline-block;
  color: var(--gray-dark);
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 9px;
}
.wpbingo-widget--testimonials .testimonial-card__rating:after {
  color: #ccc;
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--1:before {
  content: "\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--1:after {
  content: "\f005\f005\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--2:before {
  content: "\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--2:after {
  content: "\f005\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--3:before {
  content: "\f005\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--3:after {
  content: "\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--4:before {
  content: "\f005\f005\f005\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--4:after {
  content: "\f005";
}
.wpbingo-widget--testimonials .testimonial-card__rating.testimonial-card__rating--5:before {
  content: "\f005\f005\f005\f005\f005";
}
@media (max-width: 991px) {
	.wpbingo-widget--testimonials .testimonial-card{
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .wpbingo-widget--testimonials .testimonial-card{
    padding: 0 15px;
  }
	.wpbingo-widget--testimonials .slick-dots {
    display: inline-flex !important;
    margin-top: 20px;
  }
  .wpbingo-widget--testimonials .slick-arrow {
    display: none !important;
  }
}