.bwp-block-text .line {
  position: relative;
  color: var(--footer-color);
}
.bwp-block-text .line:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--footer-color);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: 0 50%;
  transition: transform .48s cubic-bezier(.77,0,.175,1);
}
.bwp-block-text .line:hover:before {
  transform-origin: 100% 50%;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  animation: k .96s .36s forwards cubic-bezier(.77,0,.175,1);
}