.bwp-widget-banner .featured-banner {
  position: relative;
}
.bwp-widget-banner .banner-wrapper-infor {
  width: 100%;
  display: flex;
}
.bwp-widget-banner .banner-wrapper-infor.position-absolute {
  position: absolute;
}
.bwp-widget-banner .bwp-button {
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.2s ease;
  overflow: hidden;
}
.bwp-widget-banner .bwp-button:before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.bwp-widget-banner .bwp-button:hover:before {
  width: 100%;
}
.bwp-widget-banner .row--banners {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.bwp-widget-banner .container-full .row--banners{
  margin: 0;
}