/*=============== BLOG ==============*/
.wpbingo-widget--featured-blog .featured-blog__post:hover .article__image img {
  transform: scale(1.2);
}
.wpbingo-widget--featured-blog .featured-blog__post .article {
  margin: 0;
  padding: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__heading {
  margin: 0 0 10px;
  font-size: calc(var(--font-size-heading) - 5px);
}
.wpbingo-widget--featured-blog .featured-blog__post .article__image {
	position: relative;
	margin: 0 0 30px;
	overflow:hidden;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__image img {
	transition: all 0.8s ease;
	position: absolute;
    top: 0;
    left: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta {
  margin: 0 0 10px;
  color: var(--theme-color);
  font-size: calc(var(--font-size-base) + 2px);
  text-transform: uppercase;
  font-family: "HelveticaNeueRoman";
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta-date::before {
  top: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .article__meta-author::before {
  top: 0;
}
.wpbingo-widget--featured-blog .featured-blog__post .button a {
  display: inline-block;
  font-size: calc(var(--font-size-base) - 1px);
  position: relative;
}
.wpbingo-widget--featured-blog .featured-blog__post .button a:before {
  content: "";
  width: 100%;
  height: 1px;
  background: var(--gray-dark);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width 0.3s ease;
}
.wpbingo-widget--featured-blog .featured-blog__post .button a:hover {
  color: var(--theme-color);
}
.wpbingo-widget--featured-blog .featured-blog__post .button a:hover:before {
  width: 0;
  background: var(--theme-color);
  left: 0;
}
@media (min-width: 1500px) {
	.wpbingo-widget--featured-blog .slick-arrow {
    background: transparent;
    box-shadow: unset;
  }
  .wpbingo-widget--featured-blog .slick-arrow:before {
    font-size: 25px;
  }
  .wpbingo-widget--featured-blog .slick-arrow:hover {
    color: var(--theme-color);
  }
}