/*============= SLIDESHOW ===================*/
.wpbingo-section--slideshow {
  padding-top: 0;
  padding-bottom: 0;
}
.wpbingo-slideshow {
  margin: 0;
}
.wpbingo-slideshow .slick-dots {
	position: absolute;
  bottom: 30px;
  display: none !important;
}
.wpbingo-slideshow .slick-dots li {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  padding: 0 4px;
}
.wpbingo-slideshow .slick-dots li button {
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
  display: block;
  padding: 0;
}
.wpbingo-slideshow .slick-dots li button:before {
	display:none;
}
.wpbingo-slideshow:not(.slick-initialized) .wpbingo-slideshow__item {
  display: none;
}
.wpbingo-slideshow:not(.slick-initialized) .wpbingo-slideshow__item:first-child {
  display: block;
}
.wpbingo-slideshow .slideshow-caption__btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  border: 0;
  text-transform: revert;
}
.wpbingo-slideshow .slideshow-caption__btn:before {
  position: absolute;
  right: 0;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  z-index: -1;
}
.wpbingo-slideshow .slideshow-caption__btn:hover:before {
  width: 100%;
}
.wpbingo-slideshow .slick-arrow {
  width: 40px;
  height: 40px;
  margin-top: -22px;
  line-height: 1;
  opacity: 1;
  transition: unset;
  visibility: visible;
  top: 50%;
}
.wpbingo-slideshow .slick-prev {
  left: 70px;
}
.wpbingo-slideshow .slick-next {
  right: 70px;
}
.wpbingo-slideshow .slick-slide {
  position: relative;
}
.wpbingo-slideshow .slick-list {
  margin: 0;
}
.wpbingo-slideshow .slick-list .slick-slide {
  padding: 0;
}
.wpbingo-slideshow .slick-current .slideshow-caption {
  opacity: 1;
}
.wpbingo-slideshow .image-size--cover .wpbingo-slideshow__item-image {
  object-fit: cover;
}
.wpbingo-slideshow .image-size--contain .wpbingo-slideshow__item-image {
  object-fit: contain;
}
.wpbingo-slideshow .image-size--fill .wpbingo-slideshow__item-image {
  object-fit: fill;
}
.wpbingo-slideshow .image-pos--left_top .wpbingo-slideshow__item-image {
  object-position: left top;
}
.wpbingo-slideshow .image-pos--left_center .wpbingo-slideshow__item-image {
  object-position: left center;
}
.wpbingo-slideshow .image-pos--left_bottom .wpbingo-slideshow__item-image {
  object-position: left bottom;
}
.wpbingo-slideshow .image-pos--center_top .wpbingo-slideshow__item-image {
  object-position: center top;
}
.wpbingo-slideshow .image-pos--center_center .wpbingo-slideshow__item-image {
  object-position: center center;
}
.wpbingo-slideshow .image-pos--center_bottom .wpbingo-slideshow__item-image {
  object-position: center bottom;
}
.wpbingo-slideshow .image-pos--right_top .wpbingo-slideshow__item-image {
  object-position: right top;
}
.wpbingo-slideshow .image-pos--right_center .wpbingo-slideshow__item-image {
  object-position: right center;
}
.wpbingo-slideshow .image-pos--right_bottom .wpbingo-slideshow__item-image {
  object-position: right bottom;
}
.wpbingo-slideshow .slideshow-text--left {
  text-align: left;
}
.wpbingo-slideshow .slideshow-text--center {
  text-align: center;
}
.wpbingo-slideshow .slideshow-text--right {
  text-align: right;
}
.wpbingo-slideshow .slideshow-horizontal--left {
  justify-content: left;
}
.wpbingo-slideshow .slideshow-horizontal--center {
  justify-content: center;
}
.wpbingo-slideshow .slideshow-horizontal--right {
  justify-content: right;
}
.wpbingo-slideshow .slideshow-vertical--top {
  align-items: start;
}
.wpbingo-slideshow .slideshow-vertical--middle {
  align-items: center;
}
.wpbingo-slideshow .slideshow-vertical--bottom {
  align-items: end;
}
.wpbingo-slideshow__item-image {
  width: 100%;
  height: 100%;
}
.wpbingo-slideshow .wpbingo-slideshow__item {
  position: relative;
}
.wpbingo-slideshow .slideshow-caption__inner {
  display: flex;
  flex-wrap: wrap;
}
.wpbingo-slideshow .slideshow-caption {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  display: flex;
  opacity: 0;
}
.slick-active .animation-left-to-right{
	animation-name: fadeInLeft;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-right-to-left{
	animation-name: fadeInRight;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-top-to-bottom{
	animation-name: fadeInDown;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-bottom-to-top{
	animation-name: fadeInUp;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-fade-in{
	animation-name: fade-in;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-scale{
	animation-name: slide-scale;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
.slick-active .animation-zoom{
	animation-name: slide-zoom;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: backwards;
	animation-iteration-count: none;
}
@media (max-width: 1800px) and (min-width: 1200px) {
  .wpbingo-section--slideshow .bwp-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 767px) {
	.wpbingo-slideshow .wpbingo-slideshow__item-image.mobile {
		display: none;
	}
}
@media (max-width: 1199px) {
	.wpbingo-slideshow .slick-arrow {
		width: 30px;
		height: 30px;
		margin-top: -15px;
		top: calc(50% - 15px);
	}
	.wpbingo-slideshow .slick-prev {
		left: 15px;
	}
	.wpbingo-slideshow .slick-next {
		right: 15px;
	}
}
@media (max-width: 991px) {
	.wpbingo-slideshow .slick-arrow {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.wpbingo-slideshow .slick-dots {
    position: unset;
    justify-content: center;
    display: inline-flex !important;
  }
  .wpbingo-slideshow .slick-dots li.slick-active {
    border-color: var(--gray-dark) !important;
  }
  .wpbingo-slideshow .slick-dots li button {
    background: var(--gray-dark) !important;
  }
  .wpbingo-slideshow .slideshow-caption.disable_absolute {
    position: static;
  }
  .wpbingo-slideshow .image-size-mobi--cover .wpbingo-slideshow__item-image {
    object-fit: cover;
  }
  .wpbingo-slideshow .image-size-mobi--contain .wpbingo-slideshow__item-image {
    object-fit: contain;
  }
  .wpbingo-slideshow .image-size-mobi--fill .wpbingo-slideshow__item-image {
    object-fit: fill;
  }
  .wpbingo-slideshow .image-pos-mobi--left_top .wpbingo-slideshow__item-image {
    object-position: left top;
  }
  .wpbingo-slideshow .image-pos-mobi--left_center .wpbingo-slideshow__item-image {
    object-position: left center;
  }
  .wpbingo-slideshow .image-pos-mobi--left_bottom .wpbingo-slideshow__item-image {
    object-position: left bottom;
  }
  .wpbingo-slideshow .image-pos-mobi--center_top .wpbingo-slideshow__item-image {
    object-position: center top;
  }
  .wpbingo-slideshow .image-pos-mobi--center_center .wpbingo-slideshow__item-image {
    object-position: center center;
  }
  .wpbingo-slideshow .image-pos-mobi--center_bottom .wpbingo-slideshow__item-image {
    object-position: center bottom;
  }
  .wpbingo-slideshow .image-pos-mobi--right_top .wpbingo-slideshow__item-image {
    object-position: right top;
  }
  .wpbingo-slideshow .image-pos-mobi--right_center .wpbingo-slideshow__item-image {
    object-position: right center;
  }
  .wpbingo-slideshow .image-pos-mobi--right_bottom .wpbingo-slideshow__item-image {
    object-position: right bottom;
  }
  .wpbingo-slideshow .slideshow-text-mobi--left {
    text-align: left;
  }
  .wpbingo-slideshow .slideshow-text-mobi--center {
    text-align: center;
  }
  .wpbingo-slideshow .slideshow-text-mobi--right {
    text-align: right;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--left {
    justify-content: left;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--center {
    justify-content: center;
  }
  .wpbingo-slideshow .slideshow-horizontal-mobi--right {
    justify-content: right;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--top {
    align-items: start;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--middle {
    align-items: center;
  }
  .wpbingo-slideshow .slideshow-vertical-mobi--bottom {
    align-items: end;
  }
}
@keyframes fade-in{
	0%{opacity:0;}
	to{opacity:1;}
}
@keyframes slide-scale{
	0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
	to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes slide-zoom{
	0%{opacity:0;-webkit-transform:scale(2);transform:scale(2)}
	to{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}