@font-face {
  font-family: 'icomoon';
  src:  url('//zweler.myshopify.com/cdn/shop/t/12/assets/icomoon.eot?v=19336475937163062681753171327');
  src:  url('//zweler.myshopify.com/cdn/shop/t/12/assets/icomoon.eot?v=19336475937163062681753171327') format('embedded-opentype'),
    url('//zweler.myshopify.com/cdn/shop/t/12/assets/icomoon.ttf?v=26503151772925585641753171327') format('truetype'),
    url('//zweler.myshopify.com/cdn/shop/t/12/assets/icomoon.woff?v=85580138698525380441753171327') format('woff'),
    url('//zweler.myshopify.com/cdn/shop/t/12/assets/icomoon.svg?v=35248508872257191471753171327') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*=" icon-"],[class^=icon-]{
  font-family:icomoon;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-account:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-compare:before {
  content: "\e902";
}
.icon-next:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-prev:before {
  content: "\e905";
}
.icon-quote:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-star2:before {
  content: "\e909";
}
.icon-wishlist:before {
  content: "\e90a";
}


